page-login {
    #login {
       
    background: #1c2627 url("../assets/imgs/background-2932710_1920.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
  form{

      
      margin-bottom: 32px;
      button{
          margin-bottom: 20px !important;
      }

      button[type='submit']{
          margin-top: 10px;
      }

       label{
           color: #000;
       }
      
      display: table-cell;
      vertical-align: middle;

      img {
        display: block;
        width: 80%;
        margin: 20px auto;
        // max-width: 100px;
        // max-height: 100px;
      }
  }
   .white{
      
    color: #ffffff;
   }
  p { font-size: 0.8em; color: #d2d2d2; } ion-label { margin-left: 5px; } ion-input { padding: 5px; } .invalid { border-bottom: 1px solid #ff6153; } .error-message { min-height: 2.2rem; p { font-size: 60%; } ion-label { margin: 2px 0; } .item-inner { border-bottom: 0 !important; } }
  
}
