<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding id="login">
  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
    <div class="header padding text-center">
      <img src="assets/imgs/logo2.png" alt="Your logo here"/>
  </div>
   
    <ion-item>
     <ion-label style="color:#000">Email</ion-label>
     <ion-input formControlName="email" type="email" placeholder="Your email address" [class.invalid]="!loginForm.controls.email.valid && blur">

     </ion-input>
   </ion-item>
   <ion-item class="error-message"  *ngIf="!loginForm.controls.email.valid && loginForm.controls.email.dirty"> <p>Please enter a valid email address.</p> </ion-item> 
  <ion-item>
    <ion-label style="color:#000">Password</ion-label>
    <ion-input  formControlName="password" type="password" placeholder="Password" [class.invalid]="!loginForm.controls.password.valid && blur"></ion-input>
  </ion-item>
  <ion-item class="error-message"  *ngIf="!loginForm.controls.password.vaid && loginForm.controls.password.dirty"> <p>Your password needs more than 6 characters.</p> </ion-item> 
  <button ion-button block type="submit" color="secondary" >Log In</button>

  
  
</form>

<button ion-button class="white"   (click)="goToSignUp()" block clear>Create a new account </button>

<button ion-button class="white"  block clear (click)="goToPasswordReset()"> I forgot my password :( </button>

</ion-content>
