<!--
  Generated template for the DespacitoListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Despacito List</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="createDespacito()">
          <ion-icon name="add"></ion-icon>
        </button>    
  </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item  *ngFor='let despacito of despacitoList'>
    {{despacito.name}} 
    <ion-icon (click)="updateDespacito(despacito.id,despacito.name)" item-right name="create"></ion-icon>  
    <ion-icon  item-right name="ios-more" (click)="goToCategoryPage(despacito.id)"></ion-icon>  
  </ion-item>
</ion-content>
