
<ion-header>

  <ion-navbar color='secondary'>
    <ion-title>{{currentDespacitoName}}</ion-title>
    <ion-buttons right>
        <button (click)="goToCartPage()" ion-button icon-left item-end>
            <ion-icon name="cart"></ion-icon>
            Cart <span *ngIf="cartItemList.length>0">({{getCartTotalQuantity(cartItemList)}})</span>
                   </button>
  </ion-buttons>
  </ion-navbar>
 
</ion-header>

<ion-content padding>

    <ion-list>        
              <button (click)="goToMenuPage(currentDespacitoId,category.id)" ion-item *ngFor="let category of categoryList">
                  
                <text-avatar [text]="category.name"  item-left></text-avatar>       
              
                {{category.name}}
                
                <ion-icon class="custom-icon" showWhen="android" name="arrow-forward" item-end></ion-icon>
              </button>
          
             
          
            </ion-list>
</ion-content>
