
<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Cart</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    
<button color="secondary" ion-button block icon-left *ngIf="cartItemList.length" (click)="checkout()">
    <ion-icon name="cart"></ion-icon>
    Checkout
</button>

<ion-item *ngFor="let item of cartItemList">    
    <h2>{{item.name}}</h2>
    <p>Price : Rs.{{item.price}} x {{item.quantity}} </p>
    <p> ={{item.price * item.quantity}}</p>    
    <button ion-button color="secondary" clear item-right (click)="quantityPlus(item)" ><ion-icon name="arrow-dropup-circle"></ion-icon></button>
    <button ion-button color="secondary" clear item-right (click)="quantityMinus(item)" ><ion-icon name="arrow-dropdown-circle"></ion-icon></button>
    <button ion-button color="secondary" clear item-right (click)="removeItemFromCart(item)" ><ion-icon name="remove-circle"></ion-icon></button>
</ion-item>

<ion-item *ngIf="cartItemList.length" >
    <h2>Grand Total</h2>        
    <h2 item-right >Rs. {{getTotal()}}</h2>
</ion-item>

<ion-item *ngIf="!cartItemList.length" >
    <h2 class="center">Cart is empty</h2>       
</ion-item>
  </ion-list>

</ion-content>
