<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-list-header>
      Profile Information
    </ion-list-header>
    <ion-item (click)="updateNmae()">
      <ion-grid>
        <ion-row>
          <ion-col col-6> Name </ion-col>
          <ion-col col-6>{{userProfile?.firstName}}, {{userProfile?.lastName}} </ion-col>
          <ion-col col-6 class="placeholder-profile">
            <span> Tap here to edit. </span> </ion-col>
        </ion-row>
      </ion-grid>


    </ion-item>
    <ion-item>
      <ion-label class="dob-label">Date of Birth</ion-label>
      <ion-datetime [(ngModel)]="birthDate" displayFormat="MMM D, YYYY" (ionChange)="updateDOB(birthDate)" pickerFormat="D MMM YYYY"></ion-datetime>
    </ion-item>


  </ion-list>
</ion-content>
