<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      Home
    </ion-title>
   
    <ion-buttons end>
      
            <button (click)="goToCartPage()" ion-button   icon-left item-end>
                <ion-icon name="cart"></ion-icon>
                Cart <span *ngIf="cartItemList.length>0">({{getCartTotalQuantity(cartItemList)}})</span>
                       </button>
      
      <button ion-button icon-only (click)="logoutUser()">
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
 
   
  
    <ion-list>

      <button (click)="goToCategoryPage(despacito.id)" ion-item *ngFor="let despacito of despacitoList">
          <text-avatar [text]="despacito.name"  item-left></text-avatar>       
      
        {{despacito.name}}
        
        <ion-icon class="custom-icon" showWhen="android" name="arrow-forward" item-end></ion-icon>
      </button>
  
     
  
    </ion-list>

</ion-content>
