
<ion-header>

  <ion-navbar>
    <ion-title>Checkout</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="checkouitForm" (ngSubmit)="checkout()" >
        <ion-item>
            <ion-label floating>Mobile</ion-label>
            <ion-input   formControlName="mobile"  type="number" required></ion-input>
            
        </ion-item>
        <ion-item class="error-message"  *ngIf="!checkouitForm.controls.mobile.valid && checkouitForm.controls.mobile.dirty"> <p>Please enter a mobile number.</p> </ion-item> 
       
        <ion-item>
            <ion-label>Payment Mode</ion-label>
            <ion-select formControlName="paymentMode" >
              <ion-option selected='true' value="cash">Cash</ion-option>
              <ion-option value="payth">Paytm</ion-option>
              <ion-option value="phonepe">PhonePe</ion-option>
              <ion-option value="card">Card</ion-option>              
            </ion-select>
          </ion-item>
        <button ion-button block type="submit" color="secondary">Save</button>
      </form>
    
</ion-content>
