<!--
  Generated template for the ResetPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >

  <ion-navbar color="secondary">
    <ion-title>Reset Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
   <form [formGroup]="resetPasswordForm" (submit)="resetPassword()" novalidate>
  <ion-item>
    <ion-label stacked  >Email</ion-label>
    <ion-input formControlName="email" type="email" placeholder="Your email" [class.invalid]="!resetPasswordForm.controls.email.valid && blur"></ion-input>
  </ion-item>

  <ion-item class="error-message" *ngIf="!resetPasswordForm.controls.email.valid && resetPasswordForm.controls.email.dirty">
    <p>Please eneter a valid email.</p>
  </ion-item>
  
    <button ion-button type="submit" block color="secondary">Reset Password</button>
  
   </form>
</ion-content>
