
<ion-header>

  <ion-navbar>
    <ion-title>New Event</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label stacked >Event Name </ion-label>
    <ion-input type="text" [(ngModel)]="eventName" placeholder="What's you event name?"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked >Event Date</ion-label>
    <ion-datetime [(ngModel)]="eventDate" displayFormat="D MM, YYYY" pickerFormat="DD MMMM YYYY" placeholder="What's event date?"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label stacked >Event Price</ion-label>
    <ion-input type="number" [(ngModel)]="eventPrice" placeholder="How much will guests pay?"></ion-input>
  </ion-item>
 
  <ion-item>
    <ion-label stacked >Event Cost</ion-label>
    <ion-input type="number" [(ngModel)]="eventCost" placeholder="How much are you spending?"></ion-input>
  </ion-item>
<input type="button" ion-button (click)="createEvent(eventName,eventDate,eventPrice,eventCost)" block value="Create Event">
</ion-content>
