<!--
  Generated template for the EventListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Event List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
<ion-item (click)="goToEventDdatilPage(event.id)" *ngFor='let event of eventList'>
  <h2>{{event?.name}}</h2>
  <p>Ticket: <strong>{{event?.price}}</strong></p>
  <p>Date:<strong>{{event?.date}}</strong></p>
</ion-item>

</ion-content>
