<ion-header>

  <ion-navbar>
    <ion-title>{{currentCategory?.name}}</ion-title>
  
  <ion-buttons end>
    <button ion-button color='primary' icon-only (click)="createSubCategory()">
        <ion-icon name="add"></ion-icon>
      </button>    
</ion-buttons>
</ion-navbar>

</ion-header>


<ion-content padding>

<ion-item  *ngFor='let subCategory of subCategoryList'>
  {{subCategory.name}} 
  <p>{{'Rs. '+subCategory.price+'/'+subCategory.unit}}</p>
  
  <ion-icon (click)="updateSubCategory(subCategory.id,subCategory.name,subCategory.price,subCategory.unit)"  item-right name="create"></ion-icon>  
   
</ion-item>
</ion-content>
