
<ion-header>

  <ion-navbar>
    <ion-title>Category List</ion-title>
 
  <ion-buttons end>
      <button ion-button color='primary' icon-only (click)="createCategory()">
          <ion-icon name="add"></ion-icon>
        </button>    
  </ion-buttons>
</ion-navbar>
</ion-header>


<ion-content padding>  
  <ion-item  *ngFor='let category of categoryList'>
    {{category.name}} 
    <ion-icon (click)="updateCategory(category.id,category.name)" item-right name="create"></ion-icon>  
    <ion-icon (click)="goToSubCategoryPage(category.id)" item-right name="ios-more"></ion-icon>  
  </ion-item>
</ion-content>
