<!--
  Generated template for the AdminHomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Admin</ion-title>
    <ion-buttons end>
      
      <button ion-button icon-only (click)="logoutUser()">
      <ion-icon name="power"></ion-icon>
    </button>
  </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
   <button ion-button block (click)="goToDespacito()">See Menus</button>

  
<ion-list>
  
     <ion-list-header>
        Order List ({{transactionList.length}})
      </ion-list-header>
      <ion-item-group>
  <ion-item *ngFor="let transaction of transactionList">
     <p>Mobile: {{ transaction.mobile}}, Total: Rs. {{transaction.totalAmount}} </p> 
     <p>Mode: {{transaction.paymentMode}}, Date:{{transaction.date}}</p>  
  </ion-item>
      </ion-item-group>
</ion-list>
  </ion-content>


