
<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{currentCategory.name}} <br/>
        <span style="font-size: 1.5rem; padding:0px">{{currentDespacito.name}}</span>
    </ion-title>
    <ion-buttons right>
        <button (click)="goToCartPage()" ion-button icon-left item-end>
            <ion-icon name="cart"></ion-icon>
            Cart <span *ngIf="cartItemList.length>0">({{getCartTotalQuantity(cartItemList)}})</span>
                   </button>
  </ion-buttons>
  </ion-navbar>
  
</ion-header>


<ion-content padding>   
   
  <ion-list *ngFor="let menu of subCategoryList">        
  <ion-item class="item-thumbnail-left">     
      <button (click)="addToCart(menu)" ion-button color="secondary" icon-left item-end>
          <ion-icon name="add"></ion-icon>
          Add
      </button>            
    <h2>{{menu.name}}</h2>
    <p>Price:Rs.{{menu.price+'/'+menu.unit}}</p>
  </ion-item>        
</ion-list>
</ion-content>
